:root {
    /* ================== COLORS ================== */

    --color-card-bg: hsl(0, 0%, 100%);          /* White */
    --color-card-text: hsl(220, 15%, 55%);      /* Grayish blue */
    --color-card-title: hsl(218, 44%, 22%);     /* Dark blue */
    
    --color-external-bg: hsl(212, 45%, 89%);    /* Light gray */
}

body {
    background-color: var(--color-external-bg);
    font-family: "Outfit", sans-serif;
    padding-top: 85px;
}

.qr-code-card {
    display: block;
    max-width: 320px;
    margin: auto;
    padding: 16px;
    border-radius: 16px;
    
    background-color: var(--color-card-bg);
}

.qr-code-card > h2, p {
    text-align: center;
    margin: 0 20px 16px;
}

.qr-code-card > h2 {
    font-size: 23;
    color: var(--color-card-title);
}

.qr-code-card > p {
    font-size: 15px;
    color: var(--color-card-text);
}

.qr-code-card img {
    width: 100%;
    border-radius: 8px;  /* inner border-radius =
                                        outer border-radius - 
                                        (distance / 2)          */
    margin-bottom: 16px;
}